body{
    background: linear-gradient(
        to right, rgb(92, 91, 91), rgb(218, 214, 214));
}

/*imagens*/
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
    color: black;
}

.img1{
    list-style: none;
    display: flex;
    justify-content: space-around;
}